.bookstore {
    padding: 3em;
    display:flex;
    justify-content:space-around;
    flex-direction: column;
    background-color: rgb(242, 242, 211);
}
.header {
    /* border: 2px solid rebeccapurple; */
    padding: .5em;
}
.title {
    width: 50%;
    margin: auto;
    font-size: 3rem;
    letter-spacing: 0.9px;
    background: linear-gradient(
        90deg,
        rgb(100, 50, 10) 0%,
        rgb(239, 195, 160) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.btn {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: rgb(23, 146, 195); */
    background-color: #001F3F;
    color: aliceblue;
}

.filter {
    display: flex;
    padding: 30px;
    align-items: center;
    padding:auto;
    justify-content:space-evenly;

}