.button-container {
    display:-webkit-flex;
    display:flex;
    list-style-type:none;
    padding:0;
    justify-content:flex-end;
}

.free-btn, .premium-btn{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(23, 146, 195);
    color: aliceblue;
}

.free-btn{
    padding: 0 10px;
    float: left;
    margin-top: 60px;
    margin-left: 150px;
}
.premium-btn{
    padding: 0 10px;
    float: right;
    margin-top: 60px;
    margin-right: 150px;
}
/* .fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
} */
